.OrderList {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--tan-1);
    border: .1vmin solid var(--tan-3);
    border-radius: 1vmin;
    margin: 3vmin 0;
    padding: 3vmin;
    height: 80%;
    width: 100%;
    overflow-y: scroll;
    }
    
    .OrderList .noOrders {
    color: var(--text-light);
    font-size: 5vmin;
    position: absolute;
    top: calc(50vh);
    }

    .OrderList::-webkit-scrollbar {
        width: 5px;
        border-radius: 90px
      }
      
      .OrderList::-webkit-scrollbar-track {
        background: var(--trans);
        border-radius: 90px
      }
      
      .OrderList::-webkit-scrollbar-thumb {
        background: var(--tan-4);
        border-radius: 9px;
      }
      
      /*Mobile*/
      @media screen and (max-width: 425px) {
        .OrderList {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: var(--tan-1);
          border: .1vmin solid var(--tan-3);
          border-radius: 1vmin;
          margin: 3vmin 0;
          padding: 3vmin;
          height: 80%;
          width: 100%;
          overflow-y: scroll;
          margin-top: -40%;
          }
      }
      
      /*tablet */
@media screen and (min-width:426) and (max-width: 769px) {
  
}

/* Laptop */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  
}

/* Medium desktop */
@media screen and (min-width: 1440px) and (max-width: 2559px) {
 
}

/* 4K display */
@media screen and (min-width: 2560px) {
 
}
