.MenuListItem {
  width: 76.8vh;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 30px auto;
  padding: 20px;
  color: var(--text-light);
  background-color: var(--white);
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
  font-size: 1vh;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.MenuListItem .image {
  width: 10vh;
  height: 10vh;
  font-size: 60px;
  background-color: var(--tan-1);
  border: 2px solid var(--tan-3);
  border-radius: 20px;
}

.MenuListItem .buy {
  display: flex;
  flex-direction: column;
}

.MenuListItem .buy span {
  font-size: 2vh;
  text-align: center;
  color: var(--text-light);
}

.MenuListItem .name {
  font-size: 2vh;
  text-align: center;
  color: var(--text-light);
}

.MenuListItem:hover {
  box-shadow: 0 0 10px rgb(0, 255, 0);
}

@keyframes greenGlow {
  0% {
    box-shadow: 0 0 5px rgb(0, 255, 0);
  }
  100% {
    box-shadow: 0 0 5px rgb(0, 255, 0);
  }
}