.MenuList {
  background-color: var(--tan-1);
  border-radius: 1vmin;
  margin: 6vmin 0; /* Increase the top margin to move it down */
  padding: 3vmin;
  overflow-y: scroll;
  height: 83%;
}

.MenuList::-webkit-scrollbar {
  width: 9.8px; /* Width of the scrollbar */
  border-radius: 90px
}

.MenuList::-webkit-scrollbar-track {
  background: rgba(255, 0, 0, 0); /* Color of the track */
  border-radius: 90px
}

.MenuList::-webkit-scrollbar-thumb {
  background: var(--tan-4); /* Color of the thumb */
  border-radius: 9px; /* Rounded corners of the thumb */
}
