.MenuList {
  background-color: var(--tan-1);
  border-radius: 1vmin;
  margin: 6vmin 0;
  padding: 3vmin;
  overflow-y: scroll;
  height: 83%;
}

.MenuList::-webkit-scrollbar {
  width: 9.8px;
  border-radius: 90px
}

.MenuList::-webkit-scrollbar-track {
  background: rgba(255, 0, 0, 0);
  border-radius: 90px
}

.MenuList::-webkit-scrollbar-thumb {
  background: var(--tan-4);
  border-radius: 9px;
}
.filterInput {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

p {
  color: white;
  text-align: center;
}
