.CategoryList {
    color: var(--text-light);
    list-style: none;
    padding: 0;
    font-size: 1.7vw;
    display: flex; /* Set display to flex */
    flex-direction: row; /* Set flex direction to row */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    position: fixed; /* Position the list fixed to stay at the top */
    top: -0.9vh; /* Position the list at the very top of the page */
    left: 40.2vmin; /* Position the list at the very left of the page */
    width: 42.4%; /* Make the list take the full width of the page */
    border-right: 9.8px solid #88c93e;
    border-left: 9.8px solid #88c93e;
    background-color: rgb(0, 0, 0); /* Fill the inside of the border */
}

.CategoryList li {
    padding: .6vmin;
    text-align: center;
    border-radius: .5vmin;
    margin-right: .5vmin; /* Add margin-right to create spacing between items */
    height: 60px; /* Set a fixed height for all list items */
}

.CategoryList li:hover:not(.active) {
    cursor: pointer;
    background-color: var(--orange);
    color: var(--white);
}

.CategoryList li.active {
    color: var(--text-dark);
    background-color: var(--tan-1);
    border: .1vmin solid var(--tan-3);
    padding: .6vmin; /* Maintain the same padding as other list items */
}
